Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

## NO BIG FILES 
Content/FirstPerson/*
Content/FirstPersonCPP/*
Content/Geometry/*
Content/StarterContent/*
Content/Mannequin/*
Content/ThirdPerson/*
Content/ThirdPersonCPP/*

